name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  run-tests:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python-version: 
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
    name: Test
    runs-on: ${{matrix.os}}
    steps:
      - uses: actions/checkout@v3

      - name: Set up Miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          python-version: ${{ matrix.python-version }}
          miniforge-variant: Miniforge3
          miniforge-version: latest
          activate-environment: test
          environment-file: environment.yml

      - name: Install pytest
        shell: bash -l {0}
        run: mamba install pytest -y

      - name: Install package
        shell: bash -l {0}
        run: pip install -e .

      - name: Run pytest
        shell: bash -l {0}
        run: pytest test.py
